<a routerLink="/listings"><button>
    <i class="fa-regular fa-circle-left"></i>
    Back
  </button></a
>
<div class="message">{{ message }}</div>
<div class="content-box" *ngFor="let listing of listings">
    <h3>
        {{ listing.name }}
    </h3>
    <p>
        {{ listing.description }}
    </p>
    <p>${{ listing.price }}</p>
    <div class="button-container">
        <button routerLink="/edit-listing/{{ listing.id }}">
      Edit
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
        <button class="Deletebtn" (click)="onDeleteClicked(listing.id)">
      Delete
      <i class="fa-regular fa-trash-can"></i>
    </button>
    </div>
</div>
<a routerLink="/new-listing">
    <button>
    Create New Listing
    <i class="fa fa-circle-plus"></i></button
></a>